<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../resources/static/style.css" />
    <title>Title</title>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <th>출생신고</th>
            </tr>
            <tr>
                <td>
                <th colspan="6">신고일 : </th>
                </td>
            </tr>
            <tr>
                <th rowspan="4">사망자</th>
                <th colspan="2">성명</th>
                <td></td>
                <th>성별</th>
                <td></td>
            </tr>
            <tr>
                <th colspan="2">출생일시</th>
                <td colspan="3"></td>
            </tr>
            <tr>
                <th colspan="2">출생장소</th>
                <td colspan="3"></td>
            </tr>
            <tr>
                <th colspan="2">등록기준지</th>
                <td colspan="3"></td>
            </tr>
            <tr>
                <th rowspan="2">부모</th>
                <th>부</th>
                <th>성명</th>
                <td></td>
                <th>주민등록번호</th>
                <td></td>
            </tr>
            <tr>
                <th>모</th>
                <th>성명</th>
                <td></td>
                <th>주민등록번호</th>
                <td></td>
            </tr>
            <tr>
                <th rowspan="3">신고인</th>
                <th colspan="2">성명</th>
                <td></td>
                <th>주민등록번호</th>
                <td></td>
            </tr>
            <tr>
                <th colspan="2">자격</th>
                <td colspan="3"></td>
            </tr>
            <tr>
                <th colspan="2">이메일</th>
                <td></td>
                <th colspan="2">전화번호</th>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>