<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../resources/static/style.css" />
    <title>발급 목록</title>
</head>
<body>
<th:block th:include="fragments/heading" />
    <table>
        <caption><h1>발급 목록</h1></caption>
        <thead>
        <tr>
            <th scope="col" colspan="3">발급목록</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">발급일</th>
                <th scope="col">증명서확인번호</th>
                <th scope="col" >증명서</th>
            </tr>
            <tr th:each="issue : ${issueList}">
                <td th:text="${issue.certificateIssueDate}"></td>
                <td th:text="${issue.certificateConfirmationNumber}"></td>
                <td><a th:if="${issue.certificateTypeCode == '가족관계증명서'}"
                       th:text="${issue.certificateTypeCode}"></a>
                    <a th:if="${issue.certificateTypeCode == '주민등록등본'}"
                       th:text="${issue.certificateTypeCode}"></a>
                    <a th:if="${issue.certificateTypeCode == '출생신고서'}"
                       th:text="${issue.certificateTypeCode}"></a>
                    <a th:if="${issue.certificateTypeCode == '사망신고서'}"
                       th:text="${issue.certificateTypeCode}"></a>
                </td>
            </tr>

        </tbody>
    </table>

<div th:if="${issueList.totalPages > 0}" class="pagination"
     th:with="start=${T(java.lang.Math).floor(issueList.number/10)*10 + 1},
                    last=(${start + 9 < issueList.totalPages ? start + 9 : issueList.totalPages})">
    <th:block th:each="page:${#numbers.sequence(start,last)}" >
        <a th:href="@{/certificate/certificate-issue/{param1}(param1=${resident}, page=${page})}"
           th:text="${page}"
           th:class="${page==issueList.number+1} ? active" class="page" />
    </th:block>

</div>
</body>
</html>