<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../resources/static/style.css" />
    <title>Title</title>
</head>
<body>
<th:block th:include="fragments/heading" />

    <h1>사망 신고서</h1>
    <table>
        <tbody>
            <tr>
                <th colspan="6">
                    <p>사망신고서</p>
                    <p>
                        <span>신고일 : </span>
                        <span th:text="${deathCertificate.birthDeathReportDate}"/>
                    </p>
                </th>
            </tr>
            <tr>
                <th rowspan="4">사망자</th>
                <th colspan="2">성명</th>
                <td th:text="${deathCertificate.targetResident.name}" />
                <th>주민등록번호</th>
                <td th:text="${deathCertificate.targetResident.residentRegistrationNumber}" />
            </tr>
            <tr>
                <th colspan="2">사망일시</th>
                <td colspan="3" th:text="${deathCertificate.targetResident.deathDate}" />
            </tr>
            <tr>
                <th rowspan="2">사망장소</th>
                <th>구분</th>
                <td colspan="3" th:text="${deathCertificate.targetResident.deathPlaceCode}" />
            </tr>
            <tr>
                <th>주소</th>
                <td colspan="3" th:text="${deathCertificate.targetResident.deathPlaceAddress}" />
            </tr>
            <tr>
                <th rowspan="3">신고인</th>
                <th colspan="2">성명</th>
                <td th:text="${deathCertificate.reportResident.name}" />
                <th>주민등록번호</th>
                <td th:text="${deathCertificate.reportResident.residentRegistrationNumber}" />
            </tr>
            <tr>
                <th colspan="2">자격</th>
                <td colspan="3" th:text="${deathCertificate.deathReportQualificationsCode}" />
            </tr>
            <tr>
                <th colspan="2">이메일</th>
                <td th:text="${deathCertificate.emailAddress}" />
                <th>전화번호</th>
                <td th:text="${deathCertificate.phoneNumber}" />
            </tr>
        </tbody>
    </table>
</body>
</html>