<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../resources/static/style.css" />
    <title>증명서 발급</title>
</head>
<body>
<th:block th:include="fragments/heading" />

    <table>
        <caption><h1>증명서 발급 메인 페이지</h1></caption>
        <thead>
        <tr>
            <th>성명</th>
            <th>증명서 목록</th>
            <th>발급 기록</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.name}"></td>
            <td>
                <ul>
                    <li><a th:href="@{/certificate/family-certificate/{param1}(param1=${user.residentSerialNumber})}">가족관계증명서 발급</a></li>
                    <li><a th:href="@{/certificate/resident-certificate/{param1}(param1=${user.residentSerialNumber})}">주민등록등본 발급</a></li>
                    <li th:if="${user.isBirthReport}"><a th:href="@{/certificate/birth-certificate/{param1}(param1=${user.residentSerialNumber})}">출생신고서 발급</a></li>
                    <li th:if="${user.isDeathReport}"><a th:href="@{/certificate/death-certificate/{param1}(param1=${user.residentSerialNumber})}">사망신고서 발급</a></li>
                </ul>
            </td>
            <td><a th:href="@{/certificate/certificate-issue/{param1}(param1=${user.residentSerialNumber})}">발급기록</a></td>
        </tr>
        </tbody>
    </table>

</body>
</html>