<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div>
    <h1>로그인</h1>
    <form method="POST" action="/login" >
        <table>
            <tr>
                <th>ID</th>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <p><button type="submit"> 로그인 </button></p>
    </form>
    <a href="/oauth2/authorization/github">GitHub-Login</a>
</div>

</body>
</html>