<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../resources/static/style.css" />
    <title>주민 목록</title>
</head>
<body>

<table>
    <thead>
        <tr>
            <th>성명</th>
            <th>증명서 목록</th>
            <th>발급 기록</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${residents}">
            <td th:text="${item.name}"></td>
            <td>
                <ul>
                    <li><a th:href="@{/family-certificate/{param1}(param1=${item.residentSerialNumber})}">가족관계증명서 발급</a></li>
                    <li><a th:href="@{/resident-certificate/{param1}(param1=${item.residentSerialNumber})}">주민등록등본 발급</a></li>
                    <li th:if="${item.isBirthReport}"><a th:href="@{/birth-certificate/{param1}(param1=${item.residentSerialNumber})}">출생신고서 발급</a></li>
                    <li th:if="${item.isDeathReport}"><a th:href="@{/death-certificate/{param1}(param1=${item.residentSerialNumber})}">사망신고서 발급</a></li>
                </ul>
            </td>
            <td><a th:href="@{/certificate-issue/{param1}(param1=${item.residentSerialNumber})}">발급기록</a></td>
            <td>
                <form method="post" th:action="@{/residents/delete/{param1}(param1=${item.residentSerialNumber})}">
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<div th:if="${residents.totalPages > 0}" class="pagination"
    th:with="start=${T(java.lang.Math).floor(residents.number/10)*10 + 1},
                    last=(${start + 9 < residents.totalPages ? start + 9 : residents.totalPages})">

    <a th:each="page:${#numbers.sequence(start,last)}"
       th:href="@{/admin/residents(page=${page})}"
       th:text="${page}"
       th:class="${page==residents.number+1} ? active" class="page"></a>

</div>
</body>
</html>